---
import ContactForm from "./ContactForm.vue"
---

<section id="contact" class="py-[100px]">
  <div class="grid grid-cols-[auto_1fr] items-start content-center px-[100px]">
    <div class="relative grid content-center gap-[20px]">
      <div>
        <div>
          <p class="text-24 font-bold text-yellow">My Intro</p>
          <div class="h1 leading-[72px]">About Me</div>
        </div>

        <div class="description w-[400px] text-[#80A4C2]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu donec dui massa scelerisque felis consectetur.
          Duis vel urna ut ullamcorper velit non non. A purus faucibus velit ac natoque.
        </div>
      </div>

      <div class="grid justify-start gap-[10px]">
        <img src="/assets/images/notifications.png" alt="" />

        <div class="grid">
          <div class="grid align-center justify-start align-center relative left-3 top-5">
            <div class="circle w-[30px] h-[30px] bg-[#D36A6B] blur-[20px] rounded-full"></div>
            <img class="absolute" src="/assets/images/notification.png" alt="" />
          </div>

          <div class="grid align-center justify-start align-center relative -top-20 left-[250px]">
            <div class="circle w-[30px] h-[30px] bg-[#F7FBFF] blur-[20px] rounded-full"></div>
            <img class="absolute" src="/assets/images/comments.png" alt="" />
          </div>
        </div>

        <img class="absolute" src="/assets/images/ilustration.png" alt="" />
      </div>
    </div>

    <div class="grid justify-end gap-[20px]">
      <div class="grid grid-cols-[auto,auto,auto] justify-center gap-[120px]">
        <div class="grid justify-items-center gap-[10px]">
          <img src="/assets/images/phone.png" alt="" />
          <div>+355676457173</div>
        </div>

        <div class="grid justify-items-center gap-[10px]">
          <img src="/assets/images/gmail.png" alt="" />
          <div>rolanddoda2014@gmail.com</div>
        </div>

        <div class="grid justify-items-center gap-[10px]">
          <img src="/assets/images/location.png" alt="" />
          <div>Tirana, Albania</div>
        </div>
      </div>

      <ContactForm />
    </div>
  </div>
</section>
