---
// Component Imports
import MainLayout from "../layouts/main-layout.astro"
import Header from "../components/Header.astro"
import HomePage from "../components/home/HomePage.astro"
---

<MainLayout>
  <div class="wrapper-container">
    <Header />

    <HomePage />
  </div>

  <style>
    .wrapper-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: auto 1fr;
    }
  </style>
</MainLayout>
