---
// Component Imports
import MainLayout from "../layouts/main-layout.astro"
import HomeSection from "@components/home-section/Home.vue"
import About from "@components/about-section/About.vue"
import Projects from "@components/projects-section/Projects.vue"
import Services from "@components/services-section/Services.vue"
import Articles from "@components/articles-section/Articles.vue"
import Testimonials from "@components/testimonials-section/Testimonials.vue"
import FAQ from "@components/faq-section/FAQ.vue"
import Contact from "@components/contact-section/Contact.vue"
import Footer from "../components/Footer.astro"
---

<MainLayout>
  <div class="relative grid">
    <HomeSection class="h-screen" />

    <About class="h-screen" client:load />

    <Projects class="h-screen" client:load />

    <!-- <Services class="h-screen" /> -->

    <!-- <Articles class="h-screen" /> -->

    <!-- <Testimonials class="h-screen" /> -->

    <!-- <FAQ client:load /> -->

    <!-- <Contact class="h-screen" /> -->

    <!-- <Footer /> -->
  </div>
</MainLayout>
