---
import LeftSection from "./LeftSection.astro"
import RightSection from "./RightSection.astro"
---

<div class="content">
  <!-- <LeftSection /> -->

  <RightSection />
</div>

<style>
  .content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
  }
</style>
