---
import Vite from "./Vite.astro"
import Vue from "./Vue.astro"
import Nuxt from "./Nuxt.astro"
import Svelte from "./Svelte.astro"
import Tailwind from "./Tailwind.astro"
import Figma from "./Figma.astro"
---

<div class="right-section grid justify-end">
  <!-- <div class="w-[566px] h-[371px] bg-green blur-[150px] opacity-40 -z-0"></div> -->

  <div class="relative">
    <img src="/assets/svg/img.png" alt="" />

    <Vite />

    <Vue />

    <Nuxt />

    <Svelte />

    <Tailwind />

    <Figma />

    <svg
      class="absolute top-[123px] left-[-37px]"
      width="625"
      height="145"
      viewBox="0 0 625 145"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M95 29C28.3567 47.9113 -74.3572 101.499 87.6026 134.127C155.352 146.123 338.867 157.311 530.929 106.095C692.471 55.3502 610.048 11.4098 537.046 1.4647"
        stroke="url(#paint0_linear_1544_1145)"
        stroke-width="1.10545"></path>
      <defs>
        <linearGradient
          id="paint0_linear_1544_1145"
          x1="516.292"
          y1="26.1523"
          x2="204.524"
          y2="12.8164"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#1099FD"></stop>
          <stop offset="0.303206" stop-color="#0FCFFE"></stop>
          <stop offset="1" stop-color="#0FFFC5"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>
