---
---

<div class="grid items-center overflow-hidden">
  <div class="planets-container">
    <div class="route">
      <div class="planet-container" id="one-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="two-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="three-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="for-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="five-planet">
        <div class="planet"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .planets-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: auto;
    transform: rotateZ(-5deg) scaleX(5);
    /* background: yellow; */
    border: 1px solid white;
  }

  .planet {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    transform: scaleX(0.2);
    background: white;
    border-radius: 50%;
    position: absolute;
  }

  .route {
    width: 100%;
    height: 100%;
    animation: rotate 12s infinite linear;
    position: absolute;
    transform: rotateZ(0deg);
  }

  .planet-container {
    width: 60px;
    height: 60px;
    animation: correct 12s infinite linear;
    position: absolute;
  }

  #one-planet {
    left: 85px;
  }

  #two-planet {
    top: 86px;
    left: 60px;
  }
  #three-planet {
    top: 80px;
  }

  #for-planet {
    left: 30px;
    top: -30px;
  }

  #five-planet {
    top: 0px;
    left: -20px;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes correct {
    0% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
</style>
