---
---

<div class="grid items-center overflow-hidden">
  <div class="planets-container">
    <div class="route">
      <div class="planet-container" id="vue-planet">
        <div class="planet">
          <svg width="48" height="48" viewBox="0 0 56 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M42.089 6.66833H51.749L27.5991 47.6979L3.44922 6.66833H21.9239L27.5991 16.1824L33.1536 6.66833H42.089Z"
              fill="#41B883"></path>
            <path
              d="M3.44922 6.66833L27.5991 47.6979L51.749 6.66833H42.089L27.5991 31.2861L12.9884 6.66833H3.44922Z"
              fill="#41B883"></path>
            <path
              d="M12.9883 6.66833L27.599 31.405L42.0889 6.66833H33.1534L27.599 16.1824L21.9237 6.66833H12.9883Z"
              fill="#35495E"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="two-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="three-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="for-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="five-planet">
        <div class="planet"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .planets-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: auto;
    transform: rotateZ(-5deg) scaleX(5);
    /* background: yellow; */
    border: 1px solid white;
  }

  .planet {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    transform: scaleX(0.2) rotate(5deg);
    background: white;
    border-radius: 50%;
    position: absolute;
  }

  .route {
    width: 100%;
    height: 100%;
    animation: rotate 12s infinite linear;
    position: absolute;
  }

  .planet-container {
    width: 60px;
    height: 60px;
    animation: correct 12s infinite linear;
    position: absolute;
  }

  #vue-planet {
    left: 85px;
  }

  #two-planet {
    top: 86px;
    left: 60px;
  }
  #three-planet {
    top: 80px;
  }

  #for-planet {
    left: 30px;
    top: -30px;
  }

  #five-planet {
    top: 0px;
    left: -20px;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes correct {
    0% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
</style>
