---
---

<div class="grid items-center overflow-hidden">
  <div class="planets-container">
    <div class="route">
      <div class="planet-container" id="vue-planet">
        <div class="planet">
          <svg width="48" height="48" viewBox="0 0 56 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M42.089 6.66833H51.749L27.5991 47.6979L3.44922 6.66833H21.9239L27.5991 16.1824L33.1536 6.66833H42.089Z"
              fill="#41B883"></path>
            <path
              d="M3.44922 6.66833L27.5991 47.6979L51.749 6.66833H42.089L27.5991 31.2861L12.9884 6.66833H3.44922Z"
              fill="#41B883"></path>
            <path
              d="M12.9883 6.66833L27.599 31.405L42.0889 6.66833H33.1534L27.599 16.1824L21.9237 6.66833H12.9883Z"
              fill="#35495E"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="vite-planet">
        <div class="planet">
          <svg width="48" height="48" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M51.5592 10.6157L28.8894 51.2064C28.7829 51.3973 28.6277 51.5564 28.4396 51.6675C28.2515 51.7785 28.0373 51.8375 27.8189 51.8384C27.6006 51.8393 27.3859 51.782 27.1969 51.6725C27.008 51.5629 26.8515 51.405 26.7435 51.215L3.62514 10.6191C3.50891 10.4154 3.45311 10.1828 3.46429 9.94846C3.47548 9.71413 3.55317 9.48785 3.68827 9.29618C3.82336 9.10452 4.01025 8.95541 4.227 8.86636C4.44376 8.7773 4.68138 8.752 4.91199 8.79342L27.606 12.8559C27.7503 12.882 27.8981 12.882 28.0424 12.8559L50.262 8.80033C50.4917 8.7583 50.7286 8.78253 50.9451 8.87019C51.1616 8.95784 51.3487 9.10532 51.4847 9.29542C51.6207 9.48552 51.6999 9.71041 51.7131 9.94387C51.7263 10.1773 51.6729 10.4097 51.5592 10.614V10.6157Z"
              fill="url(#paint0_linear_1544_1154)"></path>
            <path
              d="M38.4126 3.46656L21.6388 6.75699C21.5045 6.78325 21.3828 6.85352 21.2929 6.95674C21.2029 7.05995 21.1498 7.19022 21.142 7.32699L20.1105 24.7793C20.1048 24.875 20.1215 24.9707 20.1592 25.0589C20.1969 25.1471 20.2547 25.2252 20.3279 25.2871C20.4011 25.3489 20.4877 25.3929 20.5808 25.4154C20.6739 25.4378 20.771 25.4383 20.8643 25.4166L25.5338 24.3371C25.6344 24.3138 25.7393 24.3162 25.8387 24.3441C25.9381 24.372 26.0289 24.4245 26.1028 24.4968C26.1766 24.569 26.2312 24.6587 26.2614 24.7575C26.2916 24.8564 26.2965 24.9613 26.2756 25.0625L24.8887 31.8662C24.8673 31.971 24.8735 32.0795 24.9066 32.1811C24.9397 32.2827 24.9986 32.374 25.0776 32.4459C25.1566 32.5179 25.2529 32.568 25.3571 32.5915C25.4613 32.6149 25.5697 32.6108 25.6718 32.5796L28.556 31.7021C28.6583 31.6708 28.767 31.6667 28.8713 31.6902C28.9757 31.7136 29.0721 31.764 29.1512 31.8361C29.2302 31.9083 29.2891 31.9998 29.3221 32.1017C29.355 32.2036 29.3609 32.3123 29.3392 32.4172L27.1329 43.1038C26.9949 43.7722 27.8833 44.1367 28.2541 43.565L28.5008 43.1815L42.1714 15.8648C42.2227 15.7619 42.2442 15.6467 42.2336 15.5321C42.2229 15.4176 42.1804 15.3083 42.111 15.2167C42.0415 15.125 41.9479 15.0547 41.8406 15.0135C41.7333 14.9724 41.6166 14.9622 41.5038 14.9839L36.6963 15.9115C36.5928 15.9313 36.4859 15.9242 36.386 15.8909C36.286 15.8576 36.1962 15.7991 36.1253 15.7211C36.0543 15.6432 36.0045 15.5482 35.9807 15.4455C35.9568 15.3427 35.9597 15.2355 35.989 15.1342L39.125 4.2421C39.1546 4.14044 39.1575 4.03287 39.1335 3.92975C39.1095 3.82664 39.0594 3.73145 38.988 3.65336C38.9166 3.57527 38.8263 3.5169 38.7258 3.48388C38.6253 3.45086 38.5181 3.4443 38.4143 3.46483L38.4126 3.46656Z"
              fill="url(#paint1_linear_1544_1154)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_1544_1154"
                x1="3.06024"
                y1="7.34228"
                x2="31.3209"
                y2="45.6721"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#41D1FF"></stop>
                <stop offset="1" stop-color="#BD34FE"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_1544_1154"
                x1="26.2997"
                y1="4.35917"
                x2="31.4164"
                y2="39.4129"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FFEA83"></stop>
                <stop offset="0.083" stop-color="#FFDD35"></stop>
                <stop offset="1" stop-color="#FFA800"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="svelte-planet">
        <div class="planet">
          <svg width="48" height="48" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M45.6619 9.8454C43.4003 6.73803 40.0658 4.58338 36.3064 3.80005C32.5469 3.01672 28.6309 3.66063 25.3191 5.6067L13.7323 12.7817C12.1792 13.7189 10.8414 14.9741 9.80662 16.4652C8.77181 17.9562 8.06333 19.6493 7.72762 21.4336C7.17675 24.4181 7.6638 27.5015 9.10761 30.1701C8.11816 31.627 7.44203 33.2739 7.12214 35.0064C6.79286 36.8151 6.83727 38.6721 7.25263 40.4629C7.66799 42.2536 8.44549 43.9402 9.53713 45.4184C11.7988 48.5261 15.133 50.6814 18.8925 51.4659C22.652 52.2505 26.5685 51.6083 29.8817 49.664L41.4702 42.4907C43.0228 41.5529 44.3602 40.2975 45.3949 38.8066C46.4297 37.3157 47.1384 35.6229 47.4749 33.8388C48.0292 30.8521 47.542 27.7654 46.0949 25.0954C47.0854 23.6389 47.7621 21.9918 48.0821 20.2591C48.4113 18.4498 48.3663 16.5922 47.9501 14.801C47.5338 13.0098 46.755 11.3232 45.6619 9.8454Z"
              fill="#FF3E00"></path>
            <path
              d="M24.1893 46.0143C22.3776 46.4796 20.4681 46.3893 18.7082 45.7552C16.9483 45.1211 15.4192 43.9724 14.3189 42.4579C13.6601 41.5701 13.1903 40.5563 12.9387 39.4792C12.6871 38.4022 12.659 37.2849 12.8561 36.1966C12.9217 35.8391 13.0134 35.487 13.1304 35.143L13.3495 34.4952L13.9429 34.9063C15.3203 35.8887 16.8527 36.6325 18.4762 37.1069L18.8988 37.2329L18.8556 37.6423C18.806 38.2378 18.9719 38.8312 19.3231 39.3143C19.6533 39.7818 20.1179 40.1374 20.6551 40.3337C21.1923 40.53 21.7765 40.5576 22.3298 40.4128C22.5797 40.3478 22.8187 40.2459 23.0388 40.1106L34.5962 32.9355C34.8776 32.7647 35.1202 32.5367 35.3082 32.2663C35.4963 31.9959 35.6257 31.689 35.6881 31.3654C35.7503 31.0392 35.745 30.7037 35.6726 30.3796C35.6002 30.0554 35.4622 29.7496 35.2672 29.481C34.9353 29.0241 34.4742 28.6774 33.9433 28.4859C33.4125 28.2944 32.8365 28.2667 32.2899 28.4066C32.0386 28.4718 31.7985 28.5743 31.5775 28.7106L27.1408 31.4466C26.4115 31.8985 25.6183 32.2374 24.7879 32.4519C22.9747 32.9183 21.0635 32.8285 19.3019 32.1941C17.5404 31.5596 16.0098 30.4098 14.9089 28.8937C14.2544 28.003 13.7895 26.9873 13.5429 25.9094C13.2964 24.8315 13.2734 23.7144 13.4754 22.6272C13.679 21.5563 14.105 20.5401 14.7257 19.6445C15.3465 18.7489 16.1482 17.9938 17.0789 17.4282L28.6501 10.2531C29.3795 9.80179 30.1727 9.46345 31.003 9.24956C32.8163 8.78206 34.7279 8.8712 36.4899 9.5054C38.2519 10.1396 39.7828 11.2896 40.8838 12.806C41.5425 13.6939 42.0122 14.7077 42.2639 15.7847C42.5155 16.8617 42.5436 17.979 42.3466 19.0673C42.2812 19.4248 42.1895 19.777 42.0723 20.121L41.8532 20.7687L41.2598 20.3593C39.8831 19.3756 38.3505 18.6317 36.7266 18.1588L36.3039 18.031L36.3471 17.6216C36.3967 17.0259 36.2301 16.4323 35.8779 15.9496C35.5469 15.4921 35.0861 15.145 34.5554 14.9534C34.0247 14.7618 33.4486 14.7345 32.9023 14.8753C32.652 14.9402 32.4129 15.0427 32.1933 15.1793L20.5979 22.3301C20.3164 22.5001 20.0739 22.7276 19.8863 22.9979C19.6988 23.2682 19.5703 23.5751 19.5094 23.8985C19.4457 24.2249 19.4501 24.5611 19.5226 24.8857C19.595 25.2103 19.7339 25.5164 19.9303 25.7846C20.2624 26.2412 20.7237 26.5875 21.2545 26.7788C21.7853 26.97 22.3612 26.9973 22.9077 26.8573C23.1586 26.7919 23.3986 26.6901 23.6201 26.555L28.0395 23.8173C28.7684 23.3652 29.5618 23.0268 30.3924 22.8138C32.2056 22.3472 34.117 22.4368 35.8788 23.071C37.6406 23.7051 39.1715 24.8545 40.2731 26.3702C40.9302 27.2588 41.3983 28.273 41.6484 29.3499C41.8985 30.4269 41.9254 31.5438 41.7273 32.6315C41.5251 33.7036 41.0997 34.7211 40.4789 35.6178C39.858 36.5144 39.0556 37.2701 38.1238 37.8358L26.5543 45.0108C25.8254 45.4629 25.032 45.8013 24.2014 46.0143"
              fill="white"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="for-planet">
        <div class="planet"></div>
      </div>
    </div>

    <div class="route">
      <div class="planet-container" id="five-planet">
        <div class="planet"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .planets-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: auto;
    transform: rotateZ(-5deg) scaleX(5);
    /* background: yellow; */
    border: 1px solid white;
  }

  .planet {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    transform: scaleX(0.2) rotate(5deg);
    background: white;
    border-radius: 50%;
    position: absolute;
  }

  .route {
    width: 100%;
    height: 100%;
    animation: rotate 12s infinite linear;
    position: absolute;
  }

  .planet-container {
    width: 60px;
    height: 60px;
    animation: correct 12s infinite linear;
    position: absolute;
  }

  #vue-planet {
    left: 85px;
  }

  #vite-planet {
    top: 86px;
    left: 60px;
  }
  #svelte-planet {
    top: 80px;
  }

  #for-planet {
    left: 30px;
    top: -30px;
  }

  #five-planet {
    top: 0px;
    left: -20px;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes correct {
    0% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
</style>
