<footer class="py-[20px] text-center">
  <div class="logo">
    <img src="/assets/svg/logo.svg" alt="Logo" />
  </div>

  <p class="description">Experienced and enthusiast Vue.js Frontend Developer</p>

  <div class="navLinks">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#projects">Projects</a>
    <a href="#testimonials">Testimonials</a>
    <a href="#contact-me">Contact Me</a>
  </div>

  <div class="socialMedia">
    <a href="https://www.facebook.com/Roland.Dorina">
      <img src="/assets/svg/facebook.svg" alt="" />
    </a>

    <a href="">
      <img src="/assets/svg/instagram.svg" alt="" />
    </a>

    <a href="https://twitter.com/dev_rolandi">
      <img src="../../public/assets/svg//twitter.svg" alt="" />
    </a>

    <a href="https://www.linkedin.com/in/roland-doda/">
      <img src="../../public/assets/svg//linkedin.svg" alt="" />
    </a>

    <a href="https://github.com/Rolanddoda">
      <img src="/assets/svg/github.svg" alt="" />
    </a>

    <a href="https://stackoverflow.com/users/6385184/roland?tab=profile">
      <img src="/assets/svg//stackoverflow.svg" alt="" />
    </a>
  </div>

  <div class="byline"></div>

  <p class="copyright">© Copyright Roland Doda. All Right Reserved.</p>
</footer>

<style>
  .logo {
    width: 220px;
    height: 67px;
    margin: auto;
  }

  .navLinks {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .navLinks a {
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    margin-left: 1rem;
    text-decoration: none;
  }

  .socialMedia {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .socialMedia img {
    width: 30px;
    height: 30px;
  }

  .byline {
    height: 1px;
    margin: 30px auto;
    background: #ccc;
  }
</style>
