<header class="grid grid-cols-2 items-center pt-[35px]">
  <a href="/" class="logo">
    <img src="/assets/svg/logo.svg" alt="" />
  </a>

  <nav class="grid grid-flow-col justify-end gap-[24px] items-center">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#projects">Projects</a>
    <a href="#testimonials">Testimonials</a>
    <a class="bg-glassmorphism rounded-[10px] w-[159px] h-[60px] grid justify-center items-center" href="#contact-me"
      >Contact Me</a
    >
  </nav>
</header>
