<nav>
  <a href="/">
    <img src="../../public/assets/svg/logo.svg" alt="" />
  </a>
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
  }
</style>
